* {
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-image: url("/assets/pexels-steve-johnson-1484759.jpg");
    background-repeat: no-repeat;
    font-size: 18px;
}

header {
    position: relative;
    padding: 30px 10px;
    margin-right: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}