header {
    position: relative;
    top: 0;
    left: auto;
    width: 100%;
    padding: 30px 10px;
    margin-right: 10%;
    display: block;
    justify-content: space-between;
    align-items: center;
}

header nav a:hover {
    color: blue;
}

.mylogo {
    position: relative;
    font-size: 30px;
    color: rgb(78, 71, 71);
    text-decoration: solid;
    font-weight: 900;
    cursor: pointer;

}