.nav-toggle {
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    display: none;
}

@media only screen and (max-width: 768px) {
    .nav-toggle {
        display: block;
    }

    nav .active {
        display: block;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background-color: #999d9f;
        text-align: center;
        z-index: 1;
    }

    nav .active a {
        display: block;
        padding: 15px;
    }
}